Inventory/.vs/ProjectSettings.json
Inventory/.vs/slnx.sqlite
Inventory/.vs/VSWorkspaceState.json
Inventory/.vs/inventory/FileContentIndex/5c4cde3e-8e2d-4bfd-b7e5-985abce53f12.vsidx
Inventory/.vs/inventory/FileContentIndex/e7337e39-6e0a-4220-aa93-cbdd577d8b69.vsidx
Inventory/.vs/inventory/v17/.wsuo
Inventory/.vs/inventory/v17/DocumentLayout.backup.json
Inventory/.vs/inventory/v17/DocumentLayout.json
Inventory/bin/Debug/net6.0/appsettings.Development.json
Inventory/bin/Debug/net6.0/appsettings.json
Inventory/bin/Debug/net6.0/BouncyCastle.Crypto.dll
Inventory/bin/Debug/net6.0/Google.Protobuf.dll
Inventory/bin/Debug/net6.0/inventory.deps.json
Inventory/bin/Debug/net6.0/inventory.dll
Inventory/bin/Debug/net6.0/inventory.exe
Inventory/bin/Debug/net6.0/inventory.pdb
Inventory/bin/Debug/net6.0/inventory.runtimeconfig.json
Inventory/bin/Debug/net6.0/inventory.staticwebassets.endpoints.json
Inventory/bin/Debug/net6.0/inventory.staticwebassets.runtime.json
Inventory/bin/Debug/net6.0/K4os.Compression.LZ4.dll
Inventory/bin/Debug/net6.0/K4os.Compression.LZ4.Streams.dll
Inventory/bin/Debug/net6.0/K4os.Hash.xxHash.dll
Inventory/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
Inventory/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
Inventory/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Debug/net6.0/MySql.Data.dll
Inventory/bin/Debug/net6.0/MySql.EntityFrameworkCore.dll
Inventory/bin/Debug/net6.0/Newtonsoft.Json.dll
Inventory/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
Inventory/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
Inventory/bin/Debug/net6.0/System.Drawing.Common.dll
Inventory/bin/Debug/net6.0/System.IO.Pipelines.dll
Inventory/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Debug/net6.0/System.Security.Permissions.dll
Inventory/bin/Debug/net6.0/System.Text.Encodings.Web.dll
Inventory/bin/Debug/net6.0/System.Text.Json.dll
Inventory/bin/Debug/net6.0/System.Windows.Extensions.dll
Inventory/bin/Debug/net6.0/ZstdSharp.dll
Inventory/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
Inventory/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/comerr64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/gssapi64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/k5sprt64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/krb5_64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/krbcc64.dll
Inventory/obj/inventory.csproj.nuget.dgspec.json
Inventory/obj/inventory.csproj.nuget.g.props
Inventory/obj/inventory.csproj.nuget.g.targets
Inventory/obj/project.assets.json
Inventory/obj/project.nuget.cache
Inventory/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Inventory/obj/Debug/net6.0/apphost.exe
Inventory/obj/Debug/net6.0/inventory.AssemblyInfo.cs
Inventory/obj/Debug/net6.0/inventory.AssemblyInfoInputs.cache
Inventory/obj/Debug/net6.0/inventory.assets.cache
Inventory/obj/Debug/net6.0/inventory.csproj.AssemblyReference.cache
Inventory/obj/Debug/net6.0/inventory.csproj.CoreCompileInputs.cache
Inventory/obj/Debug/net6.0/inventory.csproj.FileListAbsolute.txt
Inventory/obj/Debug/net6.0/inventory.csproj.Up2Date
Inventory/obj/Debug/net6.0/inventory.dll
Inventory/obj/Debug/net6.0/inventory.GeneratedMSBuildEditorConfig.editorconfig
Inventory/obj/Debug/net6.0/inventory.genruntimeconfig.cache
Inventory/obj/Debug/net6.0/inventory.MvcApplicationPartsAssemblyInfo.cache
Inventory/obj/Debug/net6.0/inventory.pdb
Inventory/obj/Debug/net6.0/inventory.RazorAssemblyInfo.cache
Inventory/obj/Debug/net6.0/inventory.RazorAssemblyInfo.cs
Inventory/obj/Debug/net6.0/inventory.sourcelink.json
Inventory/obj/Debug/net6.0/staticwebassets.build.endpoints.json
Inventory/obj/Debug/net6.0/staticwebassets.build.json
Inventory/obj/Debug/net6.0/staticwebassets.development.json
Inventory/obj/Debug/net6.0/staticwebassets.pack.json
Inventory/obj/Debug/net6.0/ref/inventory.dll
Inventory/obj/Debug/net6.0/refint/inventory.dll
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.build.inventory.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.inventory.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.inventory.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssets.props
Inventory/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Inventory/obj/Release/net6.0/inventory.AssemblyInfo.cs
Inventory/obj/Release/net6.0/inventory.AssemblyInfoInputs.cache
Inventory/obj/Release/net6.0/inventory.GeneratedMSBuildEditorConfig.editorconfig
Inventory/obj/Release/net6.0/inventory.RazorAssemblyInfo.cache
Inventory/obj/Release/net6.0/inventory.RazorAssemblyInfo.cs
Inventory/bin/Debug/net8.0/appsettings.Development.json
Inventory/bin/Debug/net8.0/appsettings.json
Inventory/bin/Debug/net8.0/BouncyCastle.Cryptography.dll
Inventory/bin/Debug/net8.0/Google.Protobuf.dll
Inventory/bin/Debug/net8.0/inventory.deps.json
Inventory/bin/Debug/net8.0/inventory.dll
Inventory/bin/Debug/net8.0/inventory.exe
Inventory/bin/Debug/net8.0/inventory.pdb
Inventory/bin/Debug/net8.0/inventory.runtimeconfig.json
Inventory/bin/Debug/net8.0/inventory.staticwebassets.endpoints.json
Inventory/bin/Debug/net8.0/inventory.staticwebassets.runtime.json
Inventory/bin/Debug/net8.0/K4os.Compression.LZ4.dll
Inventory/bin/Debug/net8.0/K4os.Compression.LZ4.Streams.dll
Inventory/bin/Debug/net8.0/K4os.Hash.xxHash.dll
Inventory/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Inventory/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
Inventory/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Inventory/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Debug/net8.0/MySql.Data.dll
Inventory/bin/Debug/net8.0/MySql.EntityFrameworkCore.dll
Inventory/bin/Debug/net8.0/Newtonsoft.Json.dll
Inventory/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
Inventory/bin/Debug/net8.0/System.Drawing.Common.dll
Inventory/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Debug/net8.0/System.Security.Permissions.dll
Inventory/bin/Debug/net8.0/System.Windows.Extensions.dll
Inventory/bin/Debug/net8.0/ZstdSharp.dll
Inventory/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Debug/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Inventory/bin/Debug/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Debug/net8.0/runtimes/win-x64/native/comerr64.dll
Inventory/bin/Debug/net8.0/runtimes/win-x64/native/gssapi64.dll
Inventory/bin/Debug/net8.0/runtimes/win-x64/native/k5sprt64.dll
Inventory/bin/Debug/net8.0/runtimes/win-x64/native/krb5_64.dll
Inventory/bin/Debug/net8.0/runtimes/win-x64/native/krbcc64.dll
Inventory/bin/Release/net8.0/appsettings.Development.json
Inventory/bin/Release/net8.0/appsettings.json
Inventory/bin/Release/net8.0/BouncyCastle.Cryptography.dll
Inventory/bin/Release/net8.0/Google.Protobuf.dll
Inventory/bin/Release/net8.0/inventory.deps.json
Inventory/bin/Release/net8.0/inventory.dll
Inventory/bin/Release/net8.0/inventory.exe
Inventory/bin/Release/net8.0/inventory.pdb
Inventory/bin/Release/net8.0/inventory.runtimeconfig.json
Inventory/bin/Release/net8.0/inventory.staticwebassets.endpoints.json
Inventory/bin/Release/net8.0/inventory.staticwebassets.runtime.json
Inventory/bin/Release/net8.0/K4os.Compression.LZ4.dll
Inventory/bin/Release/net8.0/K4os.Compression.LZ4.Streams.dll
Inventory/bin/Release/net8.0/K4os.Hash.xxHash.dll
Inventory/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Inventory/bin/Release/net8.0/Microsoft.EntityFrameworkCore.dll
Inventory/bin/Release/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
Inventory/bin/Release/net8.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Release/net8.0/MySql.Data.dll
Inventory/bin/Release/net8.0/MySql.EntityFrameworkCore.dll
Inventory/bin/Release/net8.0/Newtonsoft.Json.dll
Inventory/bin/Release/net8.0/System.Configuration.ConfigurationManager.dll
Inventory/bin/Release/net8.0/System.Drawing.Common.dll
Inventory/bin/Release/net8.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Release/net8.0/System.Security.Permissions.dll
Inventory/bin/Release/net8.0/System.Windows.Extensions.dll
Inventory/bin/Release/net8.0/ZstdSharp.dll
Inventory/bin/Release/net8.0/publish/app.yaml
Inventory/bin/Release/net8.0/publish/appsettings.Development.json
Inventory/bin/Release/net8.0/publish/appsettings.json
Inventory/bin/Release/net8.0/publish/BouncyCastle.Cryptography.dll
Inventory/bin/Release/net8.0/publish/Google.Protobuf.dll
Inventory/bin/Release/net8.0/publish/inventory.deps.json
Inventory/bin/Release/net8.0/publish/inventory.dll
Inventory/bin/Release/net8.0/publish/inventory.exe
Inventory/bin/Release/net8.0/publish/inventory.pdb
Inventory/bin/Release/net8.0/publish/inventory.runtimeconfig.json
Inventory/bin/Release/net8.0/publish/inventory.staticwebassets.endpoints.json
Inventory/bin/Release/net8.0/publish/K4os.Compression.LZ4.dll
Inventory/bin/Release/net8.0/publish/K4os.Compression.LZ4.Streams.dll
Inventory/bin/Release/net8.0/publish/K4os.Hash.xxHash.dll
Inventory/bin/Release/net8.0/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
Inventory/bin/Release/net8.0/publish/Microsoft.EntityFrameworkCore.dll
Inventory/bin/Release/net8.0/publish/Microsoft.EntityFrameworkCore.Relational.dll
Inventory/bin/Release/net8.0/publish/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Release/net8.0/publish/MySql.Data.dll
Inventory/bin/Release/net8.0/publish/MySql.EntityFrameworkCore.dll
Inventory/bin/Release/net8.0/publish/Newtonsoft.Json.dll
Inventory/bin/Release/net8.0/publish/System.Configuration.ConfigurationManager.dll
Inventory/bin/Release/net8.0/publish/System.Drawing.Common.dll
Inventory/bin/Release/net8.0/publish/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Release/net8.0/publish/System.Security.Permissions.dll
Inventory/bin/Release/net8.0/publish/System.Windows.Extensions.dll
Inventory/bin/Release/net8.0/publish/web.config
Inventory/bin/Release/net8.0/publish/ZstdSharp.dll
Inventory/bin/Release/net8.0/publish/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Release/net8.0/publish/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Release/net8.0/publish/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Release/net8.0/publish/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Inventory/bin/Release/net8.0/publish/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Release/net8.0/publish/runtimes/win-x64/native/comerr64.dll
Inventory/bin/Release/net8.0/publish/runtimes/win-x64/native/gssapi64.dll
Inventory/bin/Release/net8.0/publish/runtimes/win-x64/native/k5sprt64.dll
Inventory/bin/Release/net8.0/publish/runtimes/win-x64/native/krb5_64.dll
Inventory/bin/Release/net8.0/publish/runtimes/win-x64/native/krbcc64.dll
Inventory/bin/Release/net8.0/publish/wwwroot/favicon.ico
Inventory/bin/Release/net8.0/publish/wwwroot/css/site.css
Inventory/bin/Release/net8.0/publish/wwwroot/images/cart.JPG
Inventory/bin/Release/net8.0/publish/wwwroot/images/logo.jpg
Inventory/bin/Release/net8.0/publish/wwwroot/js/site.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/LICENSE
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery/LICENSE.txt
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery/dist/jquery.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery/dist/jquery.min.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery/dist/jquery.min.map
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation/LICENSE.md
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation/dist/additional-methods.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
Inventory/bin/Release/net8.0/publish/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
Inventory/bin/Release/net8.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Release/net8.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Release/net8.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Release/net8.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Inventory/bin/Release/net8.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Release/net8.0/runtimes/win-x64/native/comerr64.dll
Inventory/bin/Release/net8.0/runtimes/win-x64/native/gssapi64.dll
Inventory/bin/Release/net8.0/runtimes/win-x64/native/k5sprt64.dll
Inventory/bin/Release/net8.0/runtimes/win-x64/native/krb5_64.dll
Inventory/bin/Release/net8.0/runtimes/win-x64/native/krbcc64.dll
Inventory/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Inventory/obj/Debug/net8.0/apphost.exe
Inventory/obj/Debug/net8.0/inventory.AssemblyInfo.cs
Inventory/obj/Debug/net8.0/inventory.AssemblyInfoInputs.cache
Inventory/obj/Debug/net8.0/inventory.assets.cache
Inventory/obj/Debug/net8.0/inventory.csproj.AssemblyReference.cache
Inventory/obj/Debug/net8.0/inventory.csproj.CoreCompileInputs.cache
Inventory/obj/Debug/net8.0/inventory.csproj.FileListAbsolute.txt
Inventory/obj/Debug/net8.0/inventory.csproj.Up2Date
Inventory/obj/Debug/net8.0/inventory.dll
Inventory/obj/Debug/net8.0/inventory.GeneratedMSBuildEditorConfig.editorconfig
Inventory/obj/Debug/net8.0/inventory.genruntimeconfig.cache
Inventory/obj/Debug/net8.0/inventory.GlobalUsings.g.cs
Inventory/obj/Debug/net8.0/inventory.MvcApplicationPartsAssemblyInfo.cache
Inventory/obj/Debug/net8.0/inventory.pdb
Inventory/obj/Debug/net8.0/inventory.RazorAssemblyInfo.cache
Inventory/obj/Debug/net8.0/inventory.RazorAssemblyInfo.cs
Inventory/obj/Debug/net8.0/inventory.sourcelink.json
Inventory/obj/Debug/net8.0/staticwebassets.build.endpoints.json
Inventory/obj/Debug/net8.0/staticwebassets.build.json
Inventory/obj/Debug/net8.0/staticwebassets.development.json
Inventory/obj/Debug/net8.0/staticwebassets.pack.json
Inventory/obj/Debug/net8.0/ref/inventory.dll
Inventory/obj/Debug/net8.0/refint/inventory.dll
Inventory/obj/Debug/net8.0/staticwebassets/msbuild.build.inventory.props
Inventory/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.inventory.props
Inventory/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.inventory.props
Inventory/obj/Debug/net8.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
Inventory/obj/Debug/net8.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssets.props
Inventory/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Inventory/obj/Release/net8.0/apphost.exe
Inventory/obj/Release/net8.0/inventory.AssemblyInfo.cs
Inventory/obj/Release/net8.0/inventory.AssemblyInfoInputs.cache
Inventory/obj/Release/net8.0/inventory.assets.cache
Inventory/obj/Release/net8.0/inventory.csproj.AssemblyReference.cache
Inventory/obj/Release/net8.0/inventory.csproj.CoreCompileInputs.cache
Inventory/obj/Release/net8.0/inventory.csproj.FileListAbsolute.txt
Inventory/obj/Release/net8.0/inventory.csproj.Up2Date
Inventory/obj/Release/net8.0/inventory.dll
Inventory/obj/Release/net8.0/inventory.GeneratedMSBuildEditorConfig.editorconfig
Inventory/obj/Release/net8.0/inventory.genruntimeconfig.cache
Inventory/obj/Release/net8.0/inventory.GlobalUsings.g.cs
Inventory/obj/Release/net8.0/inventory.MvcApplicationPartsAssemblyInfo.cache
Inventory/obj/Release/net8.0/inventory.pdb
Inventory/obj/Release/net8.0/inventory.RazorAssemblyInfo.cache
Inventory/obj/Release/net8.0/inventory.RazorAssemblyInfo.cs
Inventory/obj/Release/net8.0/inventory.sourcelink.json
Inventory/obj/Release/net8.0/PublishOutputs.65d3a57c8c.txt
Inventory/obj/Release/net8.0/staticwebassets.build.endpoints.json
Inventory/obj/Release/net8.0/staticwebassets.build.json
Inventory/obj/Release/net8.0/staticwebassets.development.json
Inventory/obj/Release/net8.0/staticwebassets.pack.json
Inventory/obj/Release/net8.0/staticwebassets.publish.endpoints.json
Inventory/obj/Release/net8.0/staticwebassets.publish.json
Inventory/obj/Release/net8.0/ref/inventory.dll
Inventory/obj/Release/net8.0/refint/inventory.dll
Inventory/obj/Release/net8.0/staticwebassets/msbuild.build.inventory.props
Inventory/obj/Release/net8.0/staticwebassets/msbuild.buildMultiTargeting.inventory.props
Inventory/obj/Release/net8.0/staticwebassets/msbuild.buildTransitive.inventory.props
Inventory/obj/Release/net8.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
Inventory/obj/Release/net8.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssets.props
