Inventory/.vs/ProjectSettings.json
Inventory/.vs/slnx.sqlite
Inventory/.vs/VSWorkspaceState.json
Inventory/.vs/inventory/FileContentIndex/5c4cde3e-8e2d-4bfd-b7e5-985abce53f12.vsidx
Inventory/.vs/inventory/FileContentIndex/e7337e39-6e0a-4220-aa93-cbdd577d8b69.vsidx
Inventory/.vs/inventory/v17/.wsuo
Inventory/.vs/inventory/v17/DocumentLayout.backup.json
Inventory/.vs/inventory/v17/DocumentLayout.json
Inventory/bin/Debug/net6.0/appsettings.Development.json
Inventory/bin/Debug/net6.0/appsettings.json
Inventory/bin/Debug/net6.0/BouncyCastle.Crypto.dll
Inventory/bin/Debug/net6.0/Google.Protobuf.dll
Inventory/bin/Debug/net6.0/inventory.deps.json
Inventory/bin/Debug/net6.0/inventory.dll
Inventory/bin/Debug/net6.0/inventory.exe
Inventory/bin/Debug/net6.0/inventory.pdb
Inventory/bin/Debug/net6.0/inventory.runtimeconfig.json
Inventory/bin/Debug/net6.0/inventory.staticwebassets.endpoints.json
Inventory/bin/Debug/net6.0/inventory.staticwebassets.runtime.json
Inventory/bin/Debug/net6.0/K4os.Compression.LZ4.dll
Inventory/bin/Debug/net6.0/K4os.Compression.LZ4.Streams.dll
Inventory/bin/Debug/net6.0/K4os.Hash.xxHash.dll
Inventory/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
Inventory/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Options.dll
Inventory/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
Inventory/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Debug/net6.0/MySql.Data.dll
Inventory/bin/Debug/net6.0/MySql.EntityFrameworkCore.dll
Inventory/bin/Debug/net6.0/Newtonsoft.Json.dll
Inventory/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
Inventory/bin/Debug/net6.0/System.Diagnostics.DiagnosticSource.dll
Inventory/bin/Debug/net6.0/System.Drawing.Common.dll
Inventory/bin/Debug/net6.0/System.IO.Pipelines.dll
Inventory/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Debug/net6.0/System.Security.Permissions.dll
Inventory/bin/Debug/net6.0/System.Text.Encodings.Web.dll
Inventory/bin/Debug/net6.0/System.Text.Json.dll
Inventory/bin/Debug/net6.0/System.Windows.Extensions.dll
Inventory/bin/Debug/net6.0/ZstdSharp.dll
Inventory/bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
Inventory/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
Inventory/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/comerr64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/gssapi64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/k5sprt64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/krb5_64.dll
Inventory/bin/Debug/net6.0/runtimes/win-x64/native/krbcc64.dll
Inventory/obj/inventory.csproj.nuget.dgspec.json
Inventory/obj/inventory.csproj.nuget.g.props
Inventory/obj/inventory.csproj.nuget.g.targets
Inventory/obj/project.assets.json
Inventory/obj/project.nuget.cache
Inventory/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Inventory/obj/Debug/net6.0/apphost.exe
Inventory/obj/Debug/net6.0/inventory.AssemblyInfo.cs
Inventory/obj/Debug/net6.0/inventory.AssemblyInfoInputs.cache
Inventory/obj/Debug/net6.0/inventory.assets.cache
Inventory/obj/Debug/net6.0/inventory.csproj.AssemblyReference.cache
Inventory/obj/Debug/net6.0/inventory.csproj.CoreCompileInputs.cache
Inventory/obj/Debug/net6.0/inventory.csproj.FileListAbsolute.txt
Inventory/obj/Debug/net6.0/inventory.csproj.Up2Date
Inventory/obj/Debug/net6.0/inventory.dll
Inventory/obj/Debug/net6.0/inventory.GeneratedMSBuildEditorConfig.editorconfig
Inventory/obj/Debug/net6.0/inventory.genruntimeconfig.cache
Inventory/obj/Debug/net6.0/inventory.MvcApplicationPartsAssemblyInfo.cache
Inventory/obj/Debug/net6.0/inventory.pdb
Inventory/obj/Debug/net6.0/inventory.RazorAssemblyInfo.cache
Inventory/obj/Debug/net6.0/inventory.RazorAssemblyInfo.cs
Inventory/obj/Debug/net6.0/inventory.sourcelink.json
Inventory/obj/Debug/net6.0/staticwebassets.build.endpoints.json
Inventory/obj/Debug/net6.0/staticwebassets.build.json
Inventory/obj/Debug/net6.0/staticwebassets.development.json
Inventory/obj/Debug/net6.0/staticwebassets.pack.json
Inventory/obj/Debug/net6.0/ref/inventory.dll
Inventory/obj/Debug/net6.0/refint/inventory.dll
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.build.inventory.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.inventory.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.inventory.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
Inventory/obj/Debug/net6.0/staticwebassets/msbuild.inventory.Microsoft.AspNetCore.StaticWebAssets.props
Inventory/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Inventory/obj/Release/net6.0/inventory.AssemblyInfo.cs
Inventory/obj/Release/net6.0/inventory.AssemblyInfoInputs.cache
Inventory/obj/Release/net6.0/inventory.GeneratedMSBuildEditorConfig.editorconfig
Inventory/obj/Release/net6.0/inventory.RazorAssemblyInfo.cache
Inventory/obj/Release/net6.0/inventory.RazorAssemblyInfo.cs
